<main>
    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src=".\assets\img\banner1.PNG" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src=".\assets\img\banner2.PNG" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src=".\assets\img\banner3.PNG" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section id="card-holder">

        <h1>Promoções</h1>

        <mat-grid-list cols="3" rowHeight="5:5">
            <mat-grid-tile>
                <mat-card class="example-card">
                    <img mat-card-image src=".\assets\img\jogo1.PNG" alt="GOTY 2021">
                    <mat-card-header>
                        <mat-card-title>Minecraft</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Minecraft é um jogo formado por blocos, criaturas e uma comunidade. Os blocos podem ser usados para transformar o mundo ou construir criações fantásticas. As criaturas podem ser inimigas ou aliadas, dependendo de seu estilo de jogo. Vivencie aventuras épicas sozinho ou com amigos, não há maneira errada de jogar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <b>R$100,00</b>
                        <button>Comprar</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card">
                    <img mat-card-image src=".\assets\img\jogo2.PNG" alt="GOTY 2022">
                    <mat-card-header>
                        <mat-card-title>Stardew Valley</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Stardew Valley é um RPG sem fim da vida no campo! Você herdou a antiga fazenda de seu avô no Vale do Orvalho. Desde que Corporação Joja veio à cidade, os antigos modos de vida quase desapareceram. Com alguma dedicação você mesmo será quem restaurará a grandeza do Vale do Orvalho! </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <b>R$30,00</b>
                        <button>Comprar</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card">
                    <img mat-card-image src=".\assets\img\jogo3.PNG" alt="GOTY 2023">
                    <mat-card-header>
                        <mat-card-title>Terraria</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Terraria é uma terra de aventuras! Uma terra de mistérios! Uma terra que é toda sua para modelar, defender, e se divertir. Suas opções em Terraria não têm limite. Você é um jogador com o dedo no gatilho? Um construtor mestre? Um colecionador? Um explorador? Aqui tem algo para todos. </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <b>R$20,00</b>
                        <button>Comprar</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>


    </section>
</main>